<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <title>Install <%= friendly_name %></title>
</head>
<body>
<font face="Helvetica">
This package will install <b><%= friendly_name %></b>, which has everything you need to get started with Cinc.
<br>
<br>
Including:
<ul>
  <li><strong>Cinc Client</strong></li>
  <li><strong>Cinc Auditor</strong></li>
  <li><strong>Biome</strong></li>
  <li><strong>Cinc Command Line Tool</strong></li>
  <li><strong>Test Kitchen</strong></li>
  <li><strong>Cookstyle</strong></li>
  <li><strong>Ad-hoc remote execution with cinc-run</strong></li>
  <li><strong>Various Test Kitchen and Knife plugins for clouds</strong></li>
</ul>
<br>
For more information please visit: <a href="https://cinc.sh">https://cinc.sh</a>.
</font>
</body>
</html>
